.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-image {
    max-height: 400px;
    height: auto;
    z-index: 1;
}

.pad-bar {
    background-color: #aa1a2d;
    padding: 6px;
}