.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-image {
    max-height: 400px;
    height: auto;
    z-index: 1;
}

.header-logo {
    width: 20%;
    height: auto;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 0;
}

@media (max-width:768px){
    .header-logo {
        width: 15%;
        height: auto;
        z-index: 2;
        position: absolute;
        left: 10px;
        top: 0;
    }
}

.pad-bar {
    background-color: #aa1a2d;
    padding: 6px;
}