.navigation {
    background-color: #000000;
}

.navbar-toggle-position {
    margin-left: 85%;
}

.navlink-items {
    color: #ffffff;
    font-family: 'Britannic';
    font-size: large;
}

.navlink-items-color {
    color: #aa1a2d;
}

.nav-item-style {
    margin-right: 100px;
}