.footer {
    background-color: #000000;
    align-items: center;
    display: flex;
}

.footer-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 25%;
    float: right;
}

@media (max-width:768px){
    .footer-list {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 60%;
        float: right;
    }
}

.footer-left {
    width: 150%;
    float: left;
}

ul > li {
    display: inline-block;
}

.link-image {
   width: 20px;
   display: block;
   margin-left: 15px;
}

.footer-para {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    text-decoration: none;
}